
* {
    letter-spacing: -0.2px;
/ / color: #212121;
    font-family: sans-serif
}

tr td {
    font-weight: bold;
    color: white;
}

header {
    padding: 0;
    clear: both;
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    overflow: hidden;
    background-image: url('image/bg-wood.jpg');
    background-size: cover;
    box-shadow: inset 1px 4px 0 rgba(0, 0, 0, 0), 0 4px 10px rgba(0, 0, 0, 0.4);
    height: 60px;
}

#warenkorb-icon {
    display: none;
    z-index: 100;
    background-image: url("image/cart-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    padding: 2rem;
    top: .3rem;
    right: 0;
}

.header-hl {
    display: table;
    margin: auto;
    height: 100%;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

.overview-nav {
    font-size: 22px;
    font-weight: bold;
    align-content: center;
    display: table;
    margin: 0 auto;
    position: relative;
    top: 160px;
}

a:visited, nav li a:link {
    transition: all 0.8s ease-out;
    color: #5A352D;
}

nav ul li {
    padding: 20px 46px;
    margin-bottom: 30px;
    text-align: center;
    background-color: transparent;
    border: solid 2px #5A352D;
}

ul {
    padding: 0;
    margin: 0;
    position: relative;
    text-decoration: none;
    list-style: none;
}

h1 {
    border-left: solid 3px #ffffff;
    border-right: solid 3px #ffffff;
    padding: 1.3rem 1rem;
    height: 100%;
    background-color: #232323;
    opacity: 0.95;
    font-weight: bolder;
    display: table;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    margin: auto;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome and Opera */
    margin: 0;
    padding: 0;
}

.bg {
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('image/bg.jpg');
    background-size: cover;
}

table td {
    padding-left: 20px;
}

#blur-bg {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.pizza-icon {
    align-self: center;
    cursor: pointer;
}

.pizza-name {
    align-self: center;
    line-height: 1.2rem;
    padding: 0;
    margin-right: 0;
    font-weight: bolder;
    font-size: 24px;
    color: #A08159;
}

.order-button {
    transition: all 0.2s ease-out;
    float: right;
}

nav li:hover, .delete-button:hover {
    transition: all 0.2s ease-in-out;
    color: #5A352D;
    border-color: transparent;
}

button:hover {
    transition: all 0.2s ease-in;
    border: solid 2px #A08159;
    color: #A08159;
    background-color: transparent;
}

.pizza-row {
    vertical-align: middle;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    width: 24rem;
    height: 8rem;
    padding: 40px 20px 10px 40px;
}

.pizza-name {
    width: 6rem;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.pizza-price {
    text-align: right;
    align-self: center;
    width: 4rem;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: lighter;
}

.pizza-list {
    z-index: 3;
    vertical-align: middle;
    margin: 8rem 6rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

select option {
    color: #343434;
}

select {
    font-size: 18px;
    display: block;
}

.client-data {
    width: 100%;
    margin-top: 50px;
    display: block;
}

input {
    font-size: 18px;
    color: #000000;
}

button {
    border: solid 2px #A08159;
    cursor: pointer;
    font-size: 18px;
    padding: 2% 4%;
    background-color: #A08159;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.new-order a:hover {
    color: #5A352D;
}

.new-order:hover {
    padding: 12px 30px;
    transition: all 0.2s ease-in;
    border: solid 2px #5A352D;
    background-color: transparent;
}

.delete-button {
    border: solid 2px #5A352D;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    color: #5A352D;
}

.sum {
    font-weight: bold;
    display: block;
    float: right;
}

.warenkorb-section, select {
    width: 38vw;
}

.warenkorb-section {
    position: fixed;
    transform: translate(0, 0);
    transition: all 0.2s ease-in-out;
    right: 10%;
    z-index: 1;
    visibility: visible;
    vertical-align: middle;
    display: table;
    margin: 12% auto;
}

table tr th {
    color: #ffffff;
    padding-bottom: 1.8rem;
}

table tr td {
    padding: 10px 32px;
}

.wrapper {
    margin: 0;
    line-height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-flex-flow: row wrap;

    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

}
.new-order {

    flex: 1;
    position: relative;
    order: 2;
    padding: 12px 30px;
    background-color: #A08159;
    display: table;

    margin: 1rem  auto;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    line-height: 100%;
}

*[class*=status] {
    border-top: dashed 2px #cdcdcd;
    box-shadow: inset 1px 4px 0 rgba(0, 0, 0, 0), 0 6px 10px rgba(0, 0, 0, 0.9);
    padding: 50px 60px 100px 40px;
    background: #000000;
    opacity: 0.85;
    margin: 6rem auto 60px auto;
}

.delivery-status {
    margin: 0 auto;
    flex:1;
    order:1;
}

.client-info {
    color: #efefef;
    box-shadow: inset 1px 4px 0 rgba(0, 0, 0, 0), 0 6px 10px rgba(0, 0, 0, 0.9);
    border-top: dashed 2px #cdcdcd;
    padding: 40px 50px 60px 50px;
    background: #000000;
    opacity: 0.9;
    display: table;
    margin: 100px auto;
}

/*tablet view*/
@media (max-width: 1240px) {
    body {
        overflow: auto;
    }

    table tr td {
        margin: 0;
        padding: 2px 4px;
    }

    section select {
        font-size: 20px;
    }

    div .pizza-name, div .pizza-price {
        font-size: 16px;
    }

    .pizza-price, .pizza-name {
        font-size: 14px;
    }

    .pizza-row {
        width: 18rem;
    }

    .pizza-list {
        max-width: 300px;
        width: 48vw;
        left: 0;
        margin: 6rem 1rem;
    }

    .delete-button, .order-button {
        width: 100%;
    }

    .delete-button {
        margin: 6px auto;
        display: table;
    }

    .warenkorb-section {
        visibility: visible;
        transform: translate(0, 0);
        font-size: 20px;
        padding: 0;
        margin: 14% 0 10% 0;
    }

    .client-data {
        font-size: 20px;
    }

    .order-button {
        margin: 20px auto;
        display: table;
    }

    div button {
        padding: 8px;
        font-size: 16px;
    }

    div table, div table tr, div table tr td {
        padding: 1vw;
        margin: 0;
    }

    .pizza-icon {
        margin: 0;
        width: 90px;
        height: auto;
    }

}

@media (max-width: 680px) {
    * {
        letter-spacing: 0;
    }

    h1 {
        font-size: 14px;
        display: table;
        padding: 20px 8%;
    }

    h3 {
        text-align: center;
        color: #ffffff;
        font-weight: normal;
        font-size: 12px;
        margin: 5% 0 1% 0;
    }

    h4 {
        font-size: 14px;
    }

    p {
        font-size: 13px;
    }

    .pizza-row {
        margin-top: 0;
        padding-top: 0;
    }

    .sum-order {
        font-weight: bold;
    }

    .client-info {
        margin-top: 60px;
    }

    .new-order {
        font-size: 12px;
    }

    .client-data {
        display: table;
        margin: 4% auto 0 auto;
    }

    .client-data, .button-group {
        width: 70%;
    }

    .button-group {
        left: 0;
        right: 0;
        display: table;
        margin: 0 auto;
    }

    .pizza-row {
        justify-self: center;
        margin: 0;
        width: 70vw;
        justify-content: space-around;
    }

    div .pizza-price, div .pizza-name {
        font-size: 13px;
    }

    div .pizza-name {
        margin: 0 .8rem;
    }

    .pizza-list {
        left: 0;
        right: 0;
        top: 19vh;
        width: 100%;
        display: table-row;
        margin: 0 auto;
        position: relative;
        height: auto;
    }

    .pizza-icon {
        width: 20%;
        min-width: 60px;
        height: auto;
        padding-left: 4%;
    }

    body [class*=status], body table [class*=status] {
        width: 100vw;
        opacity: 1.0;
        margin-top: 60px;
        padding: 10px;
        height: 60vh;
    }

    body table tr th, body form table tr th {
        padding-bottom: 2px;
        font-size: 12px;
    }

    body table tr td, body form table tr td {
        padding: 4px;
    }

    .order-button, .order-button:hover {
        border: solid 1px #A08159;
    }

    .delete-button {
        color: #ffffff;
        border: solid 1px #ffffff;
    }

    .delete-button, .order-button {
        height: 5vh;
        min-height: 46px;
    }

    .sum {
        float: none;
        left: 0;
        right: 0;
        font-weight: lighter;
        font-size: 14px;
        letter-spacing: 2px;
        margin-top: 2%;
        color: #A08159;
        text-align: center;
    }

    .delete-button:hover {
        color: #ffffff;
    }

    .warenkorb-section {
        transform: translate(0, -100%);
        visibility: hidden;
        z-index: 10;
        min-height: 60vw;
        min-width: 100vw;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: rgba(0, 0, 0, 0.7) 0 40px 50px;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        padding: 2% 0 8% 0;
        height: auto;
        border-bottom: dashed 1px #ffffff;
    }

    #warenkorb-icon {
        display: inline-block;
    }

    div {
        display: block;
    }

    section select, body .warenkorb-section {
        width: 70vw;
        display: block;
        margin: 0 auto;
    }

    div table {
        display: table;
        margin: 0 auto;
        padding: 0;
    }

}