
.landing-page {
    background-image: url("images/lowpoly.jpg");
    background-size: cover;
    width: 100vw;
}

* {
    font-size: 23px;
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #ffffff;
    align-items: stretch;
}

li {
    padding: 0 50px 0 50px;
}

ul {
    margin-right: 120px;
    padding: 5px 0;
    list-style: none;
    display: inline-flex;
    position: absolute;
    right: 0;
}

.bg {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.cp-icon {
    margin-right: 40px;
    float: left;
}

p {
    display: block;
}

.headline {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 42px;
}

.try-it-button:hover {
    border: none;
}

.demo-button {
    background-color: blueviolet;
    border: solid 2px blueviolet;
    float: left;
    color: #ffffff;
}

.try-it-button {
    transition: all 0.2s ease-in-out;
    color: blueviolet;
    border: solid 2px blueviolet;
    background-color: transparent;
    float: right;
}

.demo-button, .try-it-button {
    padding: 10px 40px;
}

.incloud-logo {
    z-index: 0;
    position: relative;
    bottom: 0;
    left: 0;
}

.incloud-batch {
    z-index: 1;
    position: absolute;
    bottom: -20px;
    left: -20px;
}

.text-box {
    padding: 4px;
    vertical-align: middle;
    display: inline-block;
    width: 380px;
    position: relative;
}

.vid-box {
    padding: 4px 40px 4px 10px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    width: auto;
}

.all-content {
    padding: 60px 10px 100px 10px;
    width: 1000px;
    height: 100%;
    display: block;
    margin: auto;
    position: relative;
}

@media (min-width: 801px) {
    .incloud-batch {
        position: absolute;
        left: 0;
        bottom: 0;
    }

}

@media (max-width: 1026px) {
    .all-content {
        width: 100vw;
        padding: 60px 0;
    }

    .vid-box {
        transform: translate(-70vh);
        width: auto;
        padding: 0;
        left: 50%;
        right: 50%;
        display: block;
        margin: 20px auto 80px auto;
    }

    .text-box {
        display: block;
        margin: 34px auto;
    }
}

@media (max-width: 320px) {

    .demo-button, .try-it-button {
        float: none;
        width: 90vw;
        margin: 16px 10px;
        position: relative;
        display: block;
    }

    .description-text {
        width: 260px;
        margin: 0 0 40px 0;
        display: block;
        font-size: 16px;
    }

    .cp-icon {
        transform: scale(0.85);
        margin: 0;
    }

    .headline {
        padding: 0;
        margin-bottom: 20px;
    }

}

@media (max-width: 480px) {

    .headline {
        font-size: 28px;
    }

    .vid-box {
        transform: scale(0.85);
        width: auto;
        padding: 0;
        left: 10px;
        right: 0;
        display: block;
        margin: 0 auto;
    }

    .incloud-logo {
        left: 0;
        right: 0;
        width: 100%;
    }

    .text-box {
        transform: scale(0.7) translate(-30px);
        display: block;
        margin: 30px auto;
    }

}